<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= className %></title>

  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/clappr@latest/dist/clappr.min.js"></script>
  <script type="text/javascript" src="<%= name %>.js"></script>
</head>
<body>
  <div id="player"></div>

  <script>
    Clappr.Log.setLevel(0);

    var player = new Clappr.Player({
      source: 'https://www.html5rocks.com/en/tutorials/video/basics/devstories.mp4',
      parentId: '#player',
      plugins: [ <%= className %> ],
      <%= confName %>: { },
    });
  </script>
</body>
</html>
